.none {
    display: none !important;
}

body {
    background: rgba(0, 102, 255, 0.38);
    font-family: sans-serif;
}

.app {
    /*position:absolute;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*display: flex;*/
}

.wait_for_loading {

}

.input_view {
    position:absolute;
    /*top: 40px;*/
    /*left: 40px;*/
    left:20px;
    height: 90%;
    width: 500px;
}

.loading_field {
    height: 40px;
    width: 100%;
    position: absolute;
    top: 45%;
    text-align: center;
    left: 0;
}

.result_view {
    position:absolute;
    /*top: 100%; !*[wherever you want it]*!*/
    /*left: 100%; !*[wherever you want it]*!*/
    right: 20px;
    height: 90%;
    width: 800px;
}

.percentage_text {
    font-size: 20pt;
}

.percent_circle {
    /*margin: 20px 10px 20px 10px;*/
    margin-left: 120px;
    margin-top: 20px;
    color: #007DDC;
    width: 400px;
    height: 400px;
}



.loading_text {
    font-size: 10pt;
    display: inline-block;
    line-height: 2;
}

.loading_spinner {
    display: inline-block;
    vertical-align: top;
}

.loading {
    height: 40px;
    width: 40px;
}

.test_input {
  /*margin: 20px 10px 20px 10px;*/
    margin-left: 20px;
    margin-top: 20px;
}

.add_btn {
    /*margin: 20px 10px 20px 10px;*/
    margin-left: 20px;
    margin-top: 20px;
    box-sizing: content-box;
    color: #FFF;
    text-transform: uppercase;
    background: #007DDC;
}
.add_btn:disabled {
    background: #CCC;
    color: #999;
}

